<!DOCTYPE html>
<html lang="en">
  <!--
  * Design inspired by @codewithsadee
  * GitHub: https://github.com/codewithsadee
  -->

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio</title>

    <!--
    - favicon
    -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='images/logo.ico') }}"
    />

    <!--
    - custom css link
    -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />

    <!--
    - google font link
    -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"
    />
  </head>

  <body>
    <!--
    - #MAIN
    -->

    <main>
      <!--
      - #SIDEBAR
      -->

      <aside class="sidebar" data-sidebar>
        <div class="sidebar-info">
          <figure class="avatar-box">
            <img
              src="{{ url_for('static', filename='images/avatar.png') }}"
              alt="Vatsal Gupta"
              width="80"
            />
          </figure>

          <div class="info-content">
            <h1 class="name" title="Vatsal Gupta">Vatsal Gupta</h1>
            <p class="title">Software Engineer</p>
          </div>

          <button class="info_more-btn" data-sidebar-btn>
            <span>Show Contacts</span>

            <ion-icon name="chevron-down"></ion-icon>
          </button>
        </div>

        <div class="sidebar-info_more">
          <div class="separator"></div>

          <ul class="social-list">
            <li class="social-item">
              <a href="https://linkedin.com/in/gvatsal60" class="social-link">
                <ion-icon name="logo-linkedin"></ion-icon>
              </a>
            </li>
            <li class="social-item">
              <a href="https://github.com/gvatsal60" class="social-link">
                <ion-icon name="logo-github"></ion-icon>
              </a>
            </li>

            <li class="social-item">
              <a
                href="https://stackoverflow.com/users/25239141/vatsal-gupta"
                class="social-link"
              >
                <ion-icon name="logo-stackoverflow"></ion-icon>
              </a>
            </li>
          </ul>
        </div>
      </aside>

      <!--
      - #main-content
      -->

      <div class="main-content">
        <!--
        - #NAVBAR
        -->

        <nav class="navbar">
          <ul class="navbar-list">
            <li class="navbar-item">
              <button class="navbar-link active" data-nav-link>About</button>
            </li>

            <li class="navbar-item">
              <button class="navbar-link" data-nav-link>Resume</button>
            </li>

            <li class="navbar-item">
              <button class="navbar-link" data-nav-link>Contact</button>
            </li>
          </ul>
        </nav>

        <!--
        - #ABOUT
        -->

        <article class="about active" data-page="about">
          <header>
            <h2 class="h2 article-title">About Me</h2>
          </header>

          <section class="about-text">
            <p>
              I'm a passionate software engineer with a diverse technical
              toolkit, specializing in languages like C/C++, Python, Rust, Shell
              Scripting, and Perl. My journey in the tech world fuses advanced
              software development with high-level automation, where every line
              of code is driven by clarity and efficiency.
            </p>

            <p>
              I thrive on transforming complex challenges into streamlined,
              scalable solutions. By integrating robust agile DevOps practices,
              I ensure that every project is not only engineered for performance
              but is also optimized for smooth, continuous delivery.
            </p>

            <p>
              I believe software is not just about solving today's problems—it's
              about anticipating tomorrow's innovations. I bring a personal
              touch to every project, merging disciplined engineering with
              creative problem-solving to build systems that empower users and
              businesses. Let's explore the future of technology together and
              build solutions that make our digital world more intuitive,
              efficient, and enjoyable.
            </p>
          </section>

          <!--
          - service
          -->

          <section class="service">
            <h3 class="h3 service-title">What I'm Doing</h3>

            <ul class="service-list">
              <li class="service-item">
                <div class="service-icon-box">
                  <img
                    src="{{ url_for('static', filename='images/icon-design.svg') }}"
                    alt="design icon"
                    width="40"
                  />
                </div>

                <div class="service-content-box">
                  <h4 class="h4 service-item-title">System Design</h4>

                  <p class="service-item-text">
                    Advanced, scalable, and robust architecture designed to
                    optimize performance and drive innovation.
                  </p>
                </div>
              </li>

              <li class="service-item">
                <div class="service-icon-box">
                  <img
                    src="{{ url_for('static', filename='images/icon-dev.svg') }}"
                    alt="development icon"
                    width="40"
                  />
                </div>

                <div class="service-content-box">
                  <h4 class="h4 service-item-title">Software Development</h4>

                  <p class="service-item-text">
                    High-quality development of software solutions at the
                    professional level.
                  </p>
                </div>
              </li>

              <li class="service-item">
                <div class="service-icon-box">
                  <img
                    src="{{ url_for('static', filename='images/icon-app.svg') }}"
                    alt="mobile icon"
                    width="40"
                  />
                </div>

                <div class="service-content-box">
                  <h4 class="h4 service-item-title">Mobile Experiences</h4>

                  <p class="service-item-text">
                    Crafting immersive and intuitive mobile solutions that
                    seamlessly integrate with your digital lifestyle.
                  </p>
                </div>
              </li>

              <li class="service-item">
                <div class="service-icon-box">
                  <img
                    src="{{ url_for('static', filename='images/icon-photo.svg') }}"
                    alt="camera icon"
                    width="40"
                  />
                </div>

                <div class="service-content-box">
                  <h4 class="h4 service-item-title">Engineering Excellence</h4>

                  <p class="service-item-text">
                    Like a camera capturing every detail, I turn your vision
                    into striking software solutions. Each line of code is
                    crafted with precision and passion.
                  </p>
                </div>
              </li>
            </ul>
          </section>
        </article>

        <!--
        - #RESUME
        -->

        <article class="resume" data-page="resume">
          <header>
            <h2 class="h2 article-title">Resume</h2>
          </header>

          <section class="timeline">
            <div class="resume-download-wrapper">
              <p class="h4 timeline-item-title" style="margin-bottom: 20px">
                Interested in learning more about my professional journey?
                Download my resume to explore my education, experience, and
                skills in detail.
              </p>

              <div class="title-wrapper">
                <!-- TODO -->
                <a
                  href="#"
                  class="resume-btn"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <button class="form-btn" type="submit" data-form-btn>
                    <ion-icon name="cloud-download-outline"></ion-icon>
                    <span>Download Resume</span>
                  </button>
                </a>
              </div>
            </div>
          </section>
        </article>

        <!--
        - #CONTACT
        -->

        <article class="contact" data-page="contact">
          <header>
            <h2 class="h2 article-title">Contact</h2>
          </header>

          <section class="contact-form">
            <!-- TODO -->
            <form
              action="#"
              id="contactForm"
              method="POST"
              class="form"
              data-form
            >
              <div class="input-wrapper">
                <input
                  type="text"
                  name="fullname"
                  class="form-input"
                  placeholder="Full Name"
                  autocomplete="name"
                  required
                  data-form-input
                />

                <input
                  type="email"
                  name="email"
                  class="form-input"
                  placeholder="Email Address"
                  autocomplete="email"
                  required
                  data-form-input
                />

                <input
                  type="tel"
                  name="phone"
                  class="form-input"
                  placeholder="Phone Number"
                  autocomplete="off"
                  required
                  data-form-input
                />
              </div>

              <textarea
                name="message"
                class="form-input"
                placeholder="Your Message"
                autocomplete="off"
                required
                data-form-input
              ></textarea>

              <button class="form-btn" type="submit" data-form-btn>
                <ion-icon name="paper-plane"></ion-icon>
                <span>Send Message</span>
              </button>
            </form>

            <div id="thankYouMessage">
              <h3 class="h3 form-title">Thank You!</h3>
              <section class="about-text">
                <p>
                  Your message has been sent successfully.I will get back to you
                  soon.
                </p>
              </section>
            </div>
          </section>
        </article>
      </div>
    </main>

    <!--
    - custom js link
    -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    <!--
    - ionicon link
    -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
